<md-card *ngIf="contact" class="app-input-section card">
  <div *ngIf="class">
    <md-input [(ngModel)]="class.Name" disabled></md-input>
  </div>
  <md-input [(ngModel)]="contact.Name" placeholder="Contact Name"></md-input>
  <md-radio-button name="gender" value="0" [checked]="true" (click)="onRadioClicked(boy)" #boy>Boy</md-radio-button>
  <md-radio-button name="gender" value="1" (click)="onRadioClicked(girl)" #girl>Girl</md-radio-button>
  <md-input [(ngModel)]="contact.Address" placeholder="Address"></md-input>
  <md-input [(ngModel)]="contact.Email" placeholder="Email"></md-input>
  <md-input [(ngModel)]="contact.Phone" placeholder="Phone"></md-input>

  <button md-raised-button color="primary" (click)="save()">Save</button>
  <button md-raised-button color="accent" (click)="remove()" *ngIf="navigated">Remove</button>
  <button md-raised-button (click)="cancel()">Cancel</button>



  <!--
    <md-input [(ngModel)]="class.Name" placeholder="Class Name" maxlength="50"></md-input>



-->
  <div *ngIf="error" class="error">{{error}}</div>
</md-card>
